<html>
<form method="post" action="/oauth/login">
    <input type="hidden" name="next" value="<%= next %>">
    <input type="text" placeholder="username" name="username" value="value">
    <input type="password" placeholder="password" name="password" value="value">
    <button type="submit">Login</button>
</form>